// @import '~assets/styles/app.scss';

//AddExpense
.add-expense {
	background-color: #ebebeb;
	height: calc(100vh - 40px);

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;

		.form-input {
			padding: 0.5rem;
			border: 1px solid #ccc;
			border-radius: 4px;
			width: 100%;
			font-size: 1rem;
		}

		.submit-btn {
			padding: 0.5rem;
			background-color: #007bff;
			border: none;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #0069d9;
			}
		}
	}

	.error-message {
		margin-top: 1rem;
		color: red;
	}
}

// ExpenseList
.expense-list {
	background-color: #ebebeb;
	min-height: calc(100vh - 40px);

	h1 {
		color: #333;
	}

	.expenses {
		h2 {
			color: #333;
		}
	}

	.expense {
		width: 300px;
		border: 1px solid #333;

		p {
			color: #333;
		}

		.individual-expense {
			border-top: 1px solid gray;
		}
	}

	.no-expenses-message {
		color: #666;
	}

	.differences {
		margin-bottom: 20px;

		h2 {
			font-size: 24px;
			margin-bottom: 10px;
			color: #333;
		}

		p {
			color: #333;
		}
	}

	.add-expense-link,
	.settled-expenses-button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #007bff;
		border: none;
		text-decoration: none;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #0056b3;
		}
	}

	.owed-section {
		.difference-box {
			border: 3px solid white;
			padding: 10px;
		}

		.green {
			color: green;
		}

		.red {
			color: red;
		}
	}
}

.check-wrapper {
	display: block;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkmarks {
	height: 30px;
	border: 1px solid black;

	&::after {
		content: '';
		position: absolute;
		display: none;
		left: 10px;
		top: 3px;
		width: 7px;
		height: 16px;
		border: solid rgb(0, 0, 0);
		border-width: 0 4px 4px 0;
		transform: rotate(45deg);
	}
}

.check-wrapper:hover input ~ .checkmarks {
	background-color: #ffffff;
}

.check-wrapper input:checked ~ .checkmarks {
	background-color: #ffffff;
}

.check-wrapper input:checked ~ .checkmarks:after {
	display: block;
}

//Settled Screen
.settled-expense-list {
	background-color: #ebebeb;
	min-height: calc(100vh - 40px);

	h1 {
		color: #333;
	}

	.expense {
		width: 300px;
		background-color: #f5f5f5;

		p {
			color: #333;
		}

		.green {
			color: green;
		}
	}

	.no-settled-expenses-message {
		color: #666;
	}

	.back-link {
		display: inline-block;
		padding: 10px 20px;
		background-color: #007bff;
		border: none;
		text-decoration: none;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #0056b3;
		}
	}
}

//Welcome Screen
.welcome-screen {
	height: 100vh;
	background-color: #ebebeb;

	h1 {
		color: #333;
	}

	.description {
		color: #666;
	}

	.start-button {
		padding: 12px 24px;
		background-color: #007bff;
		border: none;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #0056b3;
		}
	}
}
